<!doctype HTML>
<head>
</head>
<body>
  <h1>Login</h1>
  <%- message %>
  Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".
  <form method="post" action="/login">
    <p>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="text" name="password" id="password">
    </p>
    <p>
      <input type="submit" value="Login">
    </p>
  </form>

</body>
